/*

.profile-about {
  display: grid;
  grid-row-gap: 4rem;
  grid-auto-rows: min-content;

  padding: 2rem;
  box-shadow: 0 0.1rem 0.5rem var(--cl-font);

  &__title {
    // ${getFont}
    font-family: var(--font-title);
    font-weight: 400;
    font-size: 1.7rem;

    margin-top: 2rem;
    @media only screen and (max-width: 425px) {
      //   margin-top: 5rem;
    }
  }

  &__element {
    display: grid;
    grid-row-gap: 2rem;
  }
}

*/
