.container {
  display: grid;
  grid-template-rows: 6rem 1fr 6rem;
  grid-template-columns:
    [full-start] minmax(1rem, 1fr)
    [center-start] repeat(
      10,
      [col-start] minmax(min-content, 11.7rem) [col-end]
    )
    [center-end]
    minmax(1rem, 1fr) [full-end];
}

.header {
  display: grid;
  /* grid-template-columns: subgrid; */
  grid-template-columns:
    [full-start] minmax(1rem, 1fr)
    [center-start] repeat(
      10,
      [col-start] minmax(min-content, 11.7rem) [col-end]
    )
    [center-end]
    minmax(1rem, 1fr) [full-end];
  grid-area: 1 / full-start / 2 / full-end;

  height: 6rem;
  width: 100%;
  position: fixed;
  z-index: 20;
  background-color: var(--cl-header);

  align-items: center;
  justify-items: center;

  box-shadow: 0 0.2rem 0.8rem var(--cl-shadow);
}

.header div {
  /* max-width: 1170px; */
  /* margin: 0 auto;  */
  grid-column: center-start / center-end;
  grid-column: 2 / 12;
  // color: #e4e4e4;
}

.footer {
  display: grid;
  /* grid-template-columns: subgrid; */
  grid-template-columns:
    [full-start] minmax(1rem, 1fr)
    [center-start] repeat(
      10,
      [col-start] minmax(min-content, 11.7rem) [col-end]
    )
    [center-end]
    minmax(1rem, 1fr) [full-end];
  grid-area: 1 / full-start / 2 / full-end;
  grid-area: 3 / full-start / 4 / full-end;
  // background-color: var(--cl-primary);
  align-items: center;
  justify-items: center;

  // box-shadow: 0 -0.2rem 0.6rem #0000009d;
}

.footer div {
  /* max-width: 1170px; */
  /* margin: 0 auto; */
  grid-column: center-start / center-end;
  grid-column: 2 / 12;
}

.main {
  grid-area: 2 / center-start / 3 / center-end;
  min-height: calc(100vh - 12rem);

  display: grid;
  grid-template-rows: 70vh 1fr;

  min-height: 150vh; /// TEMPORARY*****************************

  @media only screen and (max-width: 980px) {
    grid-template-rows: 60vh 1fr;
  }

  @media only screen and (max-width: 720px) {
    grid-template-rows: 40vh 1fr;
  }

  &__hero {
    display: grid;
    position: relative;
    overflow: hidden;
    // overflow-x: hidden;

    grid-template-columns: 1fr 1fr;

    @media only screen and (max-width: 540px) {
      grid-template-columns: auto;
    }

    @media only screen and (max-width: 360px) {
      grid-template-columns: 1fr 1fr;
    }

    @media only screen and (max-width: 300px) {
      grid-template-columns: min-content;

      background-image: url("./assets/png/mobilebg.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &--heading {
      grid-column: 2 / 3;
      display: grid;
      grid-template-rows: min-content min-content;
      align-content: center;
      justify-content: center;
      font-family: var(--font-title);

      @media only screen and (max-width: 980px) {
        margin-top: 10rem;
        align-content: start;
        justify-content: start;
      }

      @media only screen and (max-width: 720px) {
        margin-top: 7rem;
        align-content: start;
      }

      @media only screen and (max-width: 540px) {
        margin-top: 5rem;
        align-content: start;
        justify-content: center;
      }

      @media only screen and (max-width: 460px) {
        margin-top: 5rem;
        align-content: start;
        justify-content: end;
      }

      @media only screen and (max-width: 360px) {
        margin-top: 4.5rem;
      }

      @media only screen and (max-width: 300px) {
        margin-top: 0;
        grid-template-columns: auto;
        align-content: center;
        justify-content: center;
      }

      h1 {
        font-size: 5rem;
        font-weight: 400;

        @media only screen and (max-width: 980px) {
          font-size: 4rem;
        }

        @media only screen and (max-width: 720px) {
          font-size: 3.6rem;
        }

        @media only screen and (max-width: 540px) {
          font-size: 3rem;
        }

        @media only screen and (max-width: 360px) {
          grid-template-columns: 1fr 1fr;
          line-height: 1.2;
        }

        @media only screen and (max-width: 300px) {
          justify-self: center;
          text-align: center;
        }
      }

      h3 {
        font-weight: 400;

        @media only screen and (max-width: 980px) {
          font-size: 1.6rem;
        }

        @media only screen and (max-width: 720px) {
          font-size: 1.5rem;
        }

        @media only screen and (max-width: 540px) {
          font-size: 1.4rem;
        }

        @media only screen and (max-width: 300px) {
          text-align: center;
        }
      }
    }
  }
}
