:root {
  // TYPOGRAPHY
  --font-title: "Josefin Sans", sans-serif;
  --font-text: "Lato", sans-serif;

  // COLOR PALET
  --cl-black: #000;
  --cl-white: #fff;
  --cl-grey: #eeeeee;
  --cl-dark-grey: #a0a0a0;
  --cl-darkest-grey: #747474;

  --cl-sidenav: hsla(0, 0%, 100%, 0.568);
  --cl-sidenav-shadow: rgba(0, 0, 0, 0.603);

  --cl-font: #002a38;
  --cl-primary: #3876e9;

  --cl-shadow: #00000069;
  --cl-square-shadow: #00000086;

  --cl-scrollbar-bg: #2834930c;
  --cl-scroll-shadow: #00000028;
  --cl-scrollThumb-bg1: #fff;
  --cl-scrollThumb-bg2: #c4c4c4;

  --cl-header: #ffffffec;

  --cl-tiles-1: #00a8a9;
  --cl-tiles-2: #002a38;
  --cl-tiles-3: #fed595;
  --cl-tiles-4: #fe3f2d;
  --cl-tiles-5: #ffaa2d;
  --cl-tiles-6: #c0c1c3;
  --cl-tiles-7: #d6d7d9;

  --cl-circle-0: #000;
  --cl-cirlce-1: #55c57a;
  --cl-circle-2: #dd4f4f;
  --cl-circle-3: #000;
  --cl-circle-hover: #002a38;
  --cl-circle-transit: #747474;

  // BREAKPOINTS
  --bp-tablet: 48em;
  --bp-mobile: 26.563em;
  // 768px / 16px = 48em
  // $tablet: 48em;
  // 425px / 16px = 26.5625em
  // $mobile: 26.563em;
}

// Z-INDEX
// header 20
// projects content box 10
// projects image container 5

// BASE

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: 48em) {
    font-size: 56.25%;
  }

  @media only screen and (max-width: 26.563em) {
    font-size: 50%;
  }
}
// 100% / 16px * 10px = 1rem = 62.5% 10px
// 100% / 16px * 9px = 1rem = 56.25% 9px
// 100% / 16px * 8px = 1rem = 50% 8px

body {
  font-family: var(--font-text), -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  color: var(--cl-font);

  &::-webkit-scrollbar {
    width: 0.8rem;
    background-color: var(--cl-scroll-bg);
    // border-radius: 5rem;
  }

  &::-webkit-scrollbar-thumb {
    background-image: linear-gradient(
      to bottom,
      var(--cl-scrollThumb-bg1),
      var(--cl-scrollThumb-bg2)
    );
    border-radius: 5rem;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--cl-scroll-shadow);
    box-shadow: inset 0 0 6px var(--cl-scroll-shadow);
  }
}

// SELECTION

::selection {
  // background-color: var(--cl-primary);
  background-color: #002a38;
  color: var(--cl-white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@mixin clearFix {
  ::after {
    display: table;
    content: "";
    clear: both;
  }
}

#modal {
  display: none;
}

/*

// root grid definitions
#root {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns:
    [full-start] minmax(4rem, 1fr)
    [center-start] repeat(
      10,
      [col-start] minmax(min-content, 11.7rem) [col-end]
    )
    [center-end] minmax(4rem, 1fr) [full-end];

  @media only screen and (max-width: 26.563em) {
    grid-template-columns:
      [full-start] 1fr
      [center-start] repeat(
        10,
        [col-start] minmax(min-content, 11.7rem) [col-end]
      )
      [center-end] 1fr [full-end];
  }
}
*/
