/*

.feedback-form {
  display: grid;
  grid-row-gap: 4rem;
  grid-auto-rows: min-content;

  &__title {
    // ${getFont}
    font-weight: 400;
    font-size: 1.7rem;

    // remove that when font is getten
    font-family: var(--font-title);
  }

  &__form {
    display: grid;
    grid-row-gap: 2rem;
  }

  &__svg {
    width: 3rem;
    height: 3rem;
  }
}

*/
