/*
.blog-post-view {
  cursor: pointer;
  display: grid;
  grid-template-rows: repeat(2, 1fr);

  color: var(--cl-white);
  text-decoration: none;
  font-weight: 300;
  font-family: var(--font-title);

  min-height: 20rem; // double check
  max-height: 20rem; // double check
  box-shadow: 0 0.2rem 0.5rem var(--cl-square-shadow);

  transition: filter 0.5s, box-shadow 0.3s;
  animation: 1s blogFadeIn;
  filter: brightness(90%);

  @media only screen and (max-width: 425px) {
    grid-template-rows: repeat(10, 1fr);
    max-height: 30rem;
  }

  &:hover {
    filter: brightness(130%);
    box-shadow: 0 0.2rem 1rem var(--cl-card-shadow-hover);
  }

  &__image {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  &__content {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    display: grid;
    background-color: rgba(0, 0, 0, 0.432);
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 1fr min-content;

    @media only screen and (max-width: 425px) {
      grid-row: 8 / 11;
    }

    &--wrapper {
      display: grid;
      grid-auto-rows: min-content;
      align-content: center;
      padding: 1rem 2rem;
    }

    &--theme {
      font-size: 1.5rem;

      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &--title {
      font-weight: 400;
      font-size: 1.7rem;

      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &--date {
      font-size: 1.5rem;

      display: grid;
      grid-template-columns: 1fr min-content;
      align-items: center;

      &-itself {
        align-items: center;
      }
    }

    &--likewrap {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 0.5rem;
      align-items: center;
    }
    &--svg {
      width: 2rem;
      height: 2rem;
      fill: var(--cl-white);
      transition: fill 0.3s;
      &:hover {
        fill: #eb4646;
      }
    }
    &--like {
      font-size: 1.5rem;
    }
  }
}

.big {
  grid-column: span 2;
  @media only screen and (max-width: 425px) {
    grid-column: 1 / 2;
  }
}

.small {
  grid-column: span 1;

  // @media only screen and (max-width: 990px) {
  //   grid-column: span 2;
  // }

  @media only screen and (max-width: 768px) {
    grid-column: span 2;
  }

  @media only screen and (max-width: 425px) {
    grid-column: 1 / 2;
  }
  //   background-color: floralwhite;
}

.liked {
  fill: #eb4646;
}

@keyframes blogFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

*/
