/*

.footer {
  display: grid;
  //  grid-template-columns: subgrid; 
  grid-template-columns:
    [full-start] minmax(1rem, 1fr)
    [center-start] repeat(
      10,
      [col-start] minmax(min-content, 11.7rem) [col-end]
    )
    [center-end]
    minmax(1rem, 1fr) [full-end];
  grid-area: 1 / full-start / 2 / full-end;
  grid-area: 3 / full-start / 4 / full-end;
  align-items: center;
  justify-items: center;
}

.footer div {
  //  max-width: 1170px; 
  //  margin: 0 auto; 
  grid-column: center-start / center-end;
  grid-column: 2 / 12;
}

*/
