/*

.select-input {
  display: grid;

  &__label {
    display: grid;
    grid-template-columns: repeat(5, min-content);
    grid-column-gap: 2rem;
    justify-content: center;

    padding: 2rem 0rem;
  }

  &__element {
    cursor: pointer;
    font-family: var(--font-title);
    font-size: 1.6rem;
    padding: 0.5rem 1rem;

    // appearance: none;

    outline: none;
    box-shadow: none;
    transition: border 0.3s;

    &:hover {
      border: 0.1rem solid var(--cl-font);
    }

    &::-moz-focus-inner {
      border: 0;
    }

    &:focus {
      outline: none;
    }

    & option {
      color: var(--cl-font);
    }

    & option:checked {
      color: var(--cl-white);
      background-color: var(--cl-font);
    }
  }

  &__option {
  }
}

*/
