.home-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26.5rem, 1fr));
  grid-gap: 2rem;

  &__card {
    background-color: rgba(216, 182, 255, 0.486);
    min-height: 40rem;
  }
}
