.projects {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, min-content);

  padding: 1rem;

  &__title {
    grid-area: 1 / 1 / 2 / -1;
    font-family: var(--font-title);
    font-size: 4rem;
    font-weight: 300;

    padding: 1rem;
  }

  &__circles {
    grid-area: 2 / 6 / 3 / 9;
    display: grid;
    grid-template-columns: repeat(4, min-content);
    justify-content: end;
    grid-column-gap: 3rem;

    padding: 2rem;

    @media only screen and (max-width: 720px) {
      margin-top: 2rem;
      grid-area: 20 / 4 / 21 / 8;
      justify-content: center;
    }

    &--1 {
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      background-color: var(--cl-dark-grey);
      background-color: var(--cl-dark-grey);

      border-radius: 50%;
      box-shadow: 0.1rem 0.1rem 0.4rem var(--cl-square-shadow);
      transition: background-color 0.3s;
      &:hover {
        background-color: var(--cl-darkest-grey);
      }
    }

    &--2 {
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      background-color: var(--cl-dark-grey);

      border-radius: 50%;
      box-shadow: 0.1rem 0.1rem 0.4rem var(--cl-square-shadow);
      transition: background-color 0.3s;
      &:hover {
        background-color: var(--cl-darkest-grey);
      }
    }

    &--3 {
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      background-color: var(--cl-dark-grey);

      border-radius: 50%;
      box-shadow: 0.1rem 0.1rem 0.4rem var(--cl-square-shadow);
      transition: background-color 0.3s;
      &:hover {
        background-color: var(--cl-darkest-grey);
      }
    }

    &--4 {
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      background-color: var(--cl-dark-grey);

      border-radius: 50%;
      box-shadow: 0.1rem 0.1rem 0.4rem var(--cl-square-shadow);
      transition: background-color 0.3s;
      &:hover {
        background-color: var(--cl-darkest-grey);
      }
    }
  }

  &__imageContainer {
    grid-area: 2 / 2 / 8 / 5;
    // width: 20rem;
    // height: 20rem;

    box-shadow: 0 0.2rem 0.5rem var(--cl-square-shadow);
    animation: fadein 15s infinite;
    z-index: 5;

    @media only screen and (max-width: 720px) {
      grid-area: 2 / 2 / 10 / 10;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  &__box {
    grid-area: 3 / 3 / 10 / 10;
    display: grid;
    grid-template-columns: 3fr 7.5fr;

    // height: 100rem;
    // width: 200%;
    background-color: var(--cl-grey);
    box-shadow: 0 0.2rem 1rem var(--cl-square-shadow);

    padding: 2rem;

    @media only screen and (max-width: 720px) {
      grid-area: 7 / 1 / 20 / 11;
      z-index: 10;
    }
  }

  &__content {
    // background-color: var(--cl-tiles-5);
    grid-column: 2 / 3;
    display: grid;
    grid-row-gap: 2rem;

    padding: 1rem;

    animation: fadein 15s infinite;

    @media only screen and (max-width: 720px) {
      grid-column: 1 / 3;
    }

    &--title {
      font-size: 2rem;
    }

    &--description {
      & span {
        font-weight: bold;
        color: var(--cl-tiles-4);
      }
    }

    &--bottom {
      display: grid;
      grid-template-columns: 1fr min-content;
      align-items: center;
    }

    &--date {
    }

    &--link {
      background-color: var(--cl-tiles-4);
      padding: 0.5rem 5rem;
      font-family: var(--font-title);
      color: var(--cl-white);
      text-decoration: none;

      transition: 0.3s background-color;

      &:hover {
        // color: var(--cl-font);
        background-color: var(--cl-tiles-2);
      }
    }
  }
}

.bullet-active-0 {
  background-color: var(--cl-black);
}

.bullet-active-1 {
  background-color: #55c57a;
}

.bullet-active-2 {
  background-color: #dd4f4f;
}

.bullet-active-3 {
  background-color: var(--cl-black);
}

// .text-active {

// }

@keyframes fadein {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
