/*
.restore-password-form {
  display: grid;
  grid-row-gap: 4rem;
  grid-auto-rows: min-content;

  &__title {
    // ${getFont}
    font-weight: 400;
    font-size: 1.7rem;

    margin-top: 2rem;
    @media only screen and (max-width: 425px) {
      margin-top: 5rem;
    }

    // remove that when font is getten
    font-family: var(--font-title);
  }

  &__form {
    display: grid;
    grid-row-gap: 2rem;
  }
}
*/
